@import './functions.scss';

.demo-block {
  padding: 0 20px;
  background: #ffffff;
  .demo-wrap {
    margin-right: vw(80);
    margin-bottom: vw(70);
    display: inline-block;
    vertical-align: bottom;
  }
}