@import "common/var.scss";
@component-namespace gc {
  @b button {
    appearance: none;
    border-radius: $--border-radius-base;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-size: 16px;
    height: 41px;
    outline: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    &::after {
      background-color: #000;
      content: " ";
      opacity: 0;
      position: absolute;
    }
    &:not(.is-disabled):active::after {
      opacity: .4;
    }
    @e icon {
      vertical-align: middle;
      display: inline-block;
    }
    @m default {
      color: $button-default-color;
      background-color: $button-default-background-color;
      box-shadow: $button-default-box-shadow;
      @when plain {
        border: 1px solid $button-default-plain-color;
        background-color: transparent;
        box-shadow: none;
        color: $button-default-plain-color;
      }
    }
    @m primary {
      color: $button-primary-color;
      background-color: $button-primary-background-color;
      box-shadow: $button-primary-box-shadow;
      @when plain {
        border: 1px solid $button-primary-background-color;
        background-color: transparent;
        box-shadow: none;
        color: $button-primary-background-color;
      }
    }
    @m danger {
      color: $button-danger-color;
      background-color: $button-danger-background-color;
      box-shadow: $button-danger-box-shadow;
      @when plain {
        border: 1px solid $button-danger-background-color;
        background-color: transparent;
        box-shadow: none;
        color: $button-danger-background-color;
      }
    }
    @m warning {
      color: $button-warning-color;
      background-color: $button-warning-background-color;
      box-shadow: $button-warning-box-shadow;
      @when plain {
        border: 1px solid $button-warning-background-color;
        background-color: transparent;
        color: $button-warning-background-color;
      }
    }
    @m large {
      display: block;
      width: 100%;
    }
    @m normal {
      display: inline-block;
      padding: 0 12px;
    }
    @m small {
      display: inline-block;
      padding: 0 12px;
      height: 24px;
      font-size: 14px;
    }
    @when disabled {
      opacity: .6;
    }
  }
}