@import "common/var.scss";
@component-namespace gc {
    @b indexsection {
      padding: 0;
      margin: 0;
      
      @e index {
        margin: 0;
        padding: 10px;
        background-color: #fafafa;
        background-image: linear-gradient(180deg,#D9D9D8,#d9d9d9 2%,transparent 0);
        & + ul {
          padding: 0;
        }
      }
    }
  }