@import "common/var.scss";
.gc-msgbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 85%;
    border-radius: 3px;
    font-size: 16px;
    -webkit-user-select: none;
    overflow: hidden;
    backface-visibility: hidden;
    transition: .2s;
}
.gc-msgbox .gc-msgbox-header {
  padding: 15px 0 0;
}
.gc-msgbox .gc-msgbox-content {
  padding: 10px 20px 15px;
  border-bottom: 1px solid #ddd;
  min-height: 36px;
  position: relative;
}
.gc-msgbox .gc-msgbox-input {
  padding-top: 15px;
}
.gc-msgbox .gc-msgbox-input  input {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 4px 5px;
    width: 100%;
    appearance: none;
    outline: none;
    box-sizing: border-box;
  }
.gc-msgbox .gc-msgbox-input input.invalid {
    border-color: #ff4949;
}
.gc-msgbox .gc-msgbox-input input.invalid:focus {
  border-color: #ff4949;
}
.gc-msgbox .gc-msgbox-errormsg {
  color: red;
  font-size: 12px;
  min-height: 18px;
  margin-top: 2px;
}
.gc-msgbox .gc-msgbox-title {
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.gc-msgbox .gc-msgbox-message {
  color: #999;
  margin: 0;
  text-align: center;
  line-height: 36px;
}
.gc-msgbox .gc-msgbox-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  line-height: 40px;
}
.gc-msgbox .gc-msgbox-btn {
  line-height: 35px;
  display: block;
  background-color: #fff;
  flex: 1;
  margin: 0;
  border: 0;
}
.gc-msgbox .gc-msgbox-btn:focus {
   outline: none;
 }
.gc-msgbox .gc-msgbox-btn:active {
   background-color: #fff;
 }
.gc-msgbox .gc-msgbox-cancel {
  width: 50%;
  border-right: 1px solid #ddd;
}
.gc-msgbox .gc-msgbox-cancel:active {
   color: #000;
 }
.gc-msgbox .gc-msgbox-confirm {
  color: #26a2ff;
  width: 50%;
}
.gc-msgbox .gc-msgbox-confirm:active {
   color: #26a2ff;
 }
.msgbox-bounce-enter {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
}
.msgbox-bounce-leave-active {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
}