@import "common/var.scss";
  @component-namespace gc {
    @b switch {
      display: flex;
      align-items: center;
      position: relative;
      * {
        pointer-events: none;
      }
      @e label {
        margin-left: 10px;
        display: inline-block;
        &:empty {
          margin-left: 0;
        }
      }
      @e core {
        display: inline-block;
        position: relative;
        width: 52px;
        height: 32px;
        border: 1px solid $color-grey;
        border-radius: 16px;
        box-sizing: border-box;
        background: $color-grey;
      }
      @e input {
        display: none;
      }
    }
  }

  /* 临时解决的问题（scss语法使用&::绑定伪类无效的问题） */
  .gc-switch-input:checked + .gc-switch-core {
    border-color: $color-blue;
    background-color: $color-blue;
}
.gc-switch-core:after, .gc-switch-core:before {
    content: " ";
    position: absolute;
    transition:transform .3s;
    border-radius: 15px;
    top: 0;
    left: 0;
  }
.gc-switch-core:after {
    width: 30px;
    height: 30px;
    background-color: $color-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    transform: translateX(20px);
  }
.gc-switch-core:before {
    width: 50px;
    height: 30px;
    background-color: #fdfdfd;
    transform: scale(0);
  }

  .gc-switch-input:checked + gc-switch-core:after {
    transform: translateX(20px);
  }
  .gc-switch-input:checked + .gc-switch-core:before {
    transform: scale(0);
  }