  /* Colors
  -------------------------- */
$--color-white: #ffffff;
$--color-black: #000000;

$--color-old-primary: #628cf5;
$--color-primary: #628cf5;
$--color-primary-light-1: #168fcb;
$--color-primary-light-2: #D6E0FB;
$--color-success: #0EAD83;
$--color-warning: #FFCD42;
$--color-danger: #FA7268;
$--color-danger-light: #ffe9e8;
$--color-info: #50bfff;
$--color-close: #b4bccc;
$--color-disabled: #C4C6CC;

$--color-card-grey: #f5f5fa;

$--color-text-primary: #3D424D;
$--color-text-regular: #626673;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-base: #B6B8BF;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;
$--border-radius-big: 10px;
$--border-radius-base: 4px;
$--border-radius-small: 2px;
$--border-radius-circle: 100%;

/* Font
-------------------------- */
$--font-size-base: 14px;
$--font-size-small: 12px;
$--font-size-large: 16px;
$--font-color-disabled-base: #bbb;
$--font-weight-primary: 500;
$--font-weight-bold: 600;
$--font-line-height-primary: 12px;

/* Button
-------------------------- */
$--button-radius-base: 16px;

$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 12px;

/* Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;